PORT=4000
MONGO_URI=mongodb://mongo:27017/Instagram

JWT_SECRET=f2e9de6c907999dac0555942247d6ff175431a9abef686e9738b3fe92f1862eb5c20af866828e3746eb00d083e9380f5c52fd25dd7c256e7e0c031e1dcd66640
JWT_EXPIRE=7d
COOKIE_EXPIRE=5

SENDGRID_API_KEY=SG.UUwefwewrgI.efewfwewef
SENDGRID_MAIL=jhondoe@gmail.com
SENDGRID_RESET_TEMPLATEID=d-wefiniwnef1ewf848erg18er8

AWS_BUCKET_NAME=insta-bucket-sidraut007 
AWS_BUCKET_REGION=ap-south-1
AWS_IAM_USER_KEY=AKIATX3PIHQYKKFDZ5VU
AWS_IAM_USER_SECRET=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

NODE_ENV=development